<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample project</title>
    
</head>

<body>
    <h2><a href="/first_app/">Home</a></h2>
    <h2><a href="/first_app/contact/">Contact</a></h2>
    <h2><a href="/first_app/practise_page/">Practise page</a></h2>

    <h2>Welcome to contact page</h2>
    <h2>Contact me if necessary</h2>

    <h3>Name: {{name}}</h3>
    <h3>Address: {{address}}</h3>
    <h3>Age: {{age}}</h3>
    <h3>Nationality: {{nationality}}</h3>
    <h3>Course: {{course}}</h3>
    <h3>Phone: {{phone}}</h3>
    
   

</body>

</html>